anyio==4.14.2
certifi==2026.7.22
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
numpy==2.5.2
numpy-stl==4.0.0
PyOpenGL==3.1.10
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-utils==4.0.0
qasync==0.28.0
shiboken6==6.11.1
typing_extensions==4.16.0
websockets==17.0.1
